body {
  background: #819FF7; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #819FF7, #ff9966);
  background: -moz-linear-gradient(right, #819FF7, #ff9966);
  background: -o-linear-gradient(right, #819FF7, #ff9966);
  background: linear-gradient(to left, #819FF7, #ff9966);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#contact{
    background: #F9F9F9;
    padding: 25px;
    margin: 60px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.pagination{
  justify-content: center;
}
.pagination li{
  margin: 5px;
  padding: 10px;
      /*border:1px solid black;
      border-radius: 50%;*/
}

#cpf select,button{
  font-size: 17px;
  margin-right: 4px;
}

@media (max-width: 1024px){
  #cpf select,button{
    font-size: 13px;
    margin-right: 4px;
  }
}






